@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #DDD6FE;
}

.main-cover {
  @apply bg-blue-200;
  background: url('../public/assets/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 65%;
}
